*.patch
*.o
*.a
*.la
*.lo
*~
*.orig
*.rej
Makefile
Makefile.in
m4
aclocal.m4
autom4te.cache
config.*
depcomp
configure
compile
*.rules
*.fdi
*.pc
*.usermap
install-sh
libtool
ltmain.sh
missing
stamp-h1
.DS_Store
VitaMTP.xcodeproj/project.xcworkspace
VitaMTP.xcodeproj/xcuserdata
.deps
.libs
opencma
