*.patch
*.o
*.a
*.la
*.lo
*~
*.orig
*.rej
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
depcomp
configure
*.rules
*.fdi
*.pc
*.usermap
install-sh
libtool
ltmain.sh
missing
stamp-h1
.DS_Store
